/.idea
/.venv
/**/.ipynb_checkpoints/
*.swp
/venv
/.tox
/.mypy_cache
/.pytest_cache
/.ruff_cache
/.vscode
/results
/final_results/results
__pycache__/model.cpython-310.pyc
__pycache__/model.cpython-310.pyc
__pycache__/run_sim.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
*.pkl
/figures
__pycache__/*
__pycache__/run_sim.cpython-310.pyc
/PRECO
/data/*
/MNIST_small/*
*.png
*.jpg
*.pth
/saved_models
/checkpoints
/checkpoints_non_cyclic